<br/>
<h3>Show</h3>
<br/>
<% #@item = @item.decorate %>
<%
begin
  @item=@item.decorate
rescue
end
%>
<% if @item.nil? %>
  <%= 'needed item variable' %>
<% else %>
  <%= magic_show(@item) %>
  <%= prepare_actions(@item) %>
<% end %>
<br/>
<br/>